#page-programmation {
  @include grid-row();
  margin-top: 3rem;
  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }
}

// #programmation--google-sheet {
// 	iframe {
// 		width:100%;
// 		min-height: 100vh;
// 	}
// }

.page-template-page-programmation2 {

	$breakpointMobile: 800px;

	.main-content > div {
		@media screen and (max-width: 1350px) {
			margin: 0 10px 15px 75px;
		}
		@media screen and (max-width: $breakpointMobile) {
			margin: 0 0 15px 0;
			.date {
				text-align: center;
				margin: 10px 0 !important;
			}
			p.horaire {
				font-size: 20px !important;
			}
			h2 {
				font-size: 16px !important;
			}
			.logo-colonne {
				left: 0px !important;
			}
			.text-colonne {
				text-align: center;
				margin: 10px 0;
			}
		}
		.date {
			text-transform: uppercase;
		}
	}

	#programmation--emision-wrapper {
		@include grid-row();
	}
	a.programmation--emission {
		&:hover {
			.programmation--emission-wrapper {
				img:first-child {
					opacity:0.15;
				}
				img:nth-child(2) {
					top: -20px;
				}
				h3 {
					bottom: 20px;
				}
			}
		}
	}
	.programmation--emission-wrapper {
		background-color: $black;
		overflow: hidden;
		position:relative;
		height:200px;
		margin-bottom: 20px;

		img:first-child {
			transform: scale(1.5);
			position: absolute;
			top:0;bottom:0;
			right:0;left:0;
			margin:auto;
			opacity:0.25;
			transition: 0.4s linear;
			filter: blur(2px);
		}
		img:nth-child(2) {
			z-index: 2;
			position:absolute;
			top:-20px;bottom:0;
			@include breakpoint(medium) {
				top: 0;
			}
			left:0;right:0;
			max-width:45%;
			max-height: 100px;
			margin: auto;
			transition: 0.4s linear;
		}
		h3 {
			position: absolute;
			bottom: 20px;
			@include breakpoint(medium) {
				bottom: -100px;
			}
			left:0;
			right:0;
			margin:0 auto;
			text-transform: uppercase;
			text-align: center;
			font-size: rem-calc(18);
			font-weight: bold;
			color:$white;
			transition: 0.4s linear;
		}
	}
	.programmation--emission-no-event {
		background-color: $light-gray;
		color: $secondary-color;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 20px;
		text-transform: uppercase;
		// z-index: 0;
	}
	.programmation--emission-no-event-today {
		color: $primary-color;
	}
	.programmation--emission-event {
		background-color: #fdf5fa;
		color: $primary-color;
		margin-bottom: 10px;
		padding: 20px 0;
		// z-index: 1;
		article.event {
			background: rgba($primary-color, 0);
		}
		article.event {
			&:hover {
				background: rgba($primary-color, .25);
			}
		}
	}
	.programmation--emission-event-today {
		background-color: $primary-color;
		color: white;
		article.event {
			background: rgba(white, 0);
		}
		article.event {
			&:hover {
				background: rgba(white, .35);
			}
		}
	}

	#page-programmation {
		// background: blue;
		& > article > div {
			position: relative;

			aside.event-aside {
				z-index: -1;
				position: absolute;
				// background: black;
				color: $primary-color;
				font-weight: bold;
				text-transform: uppercase;
				left: 0px; top: 10px;
				text-align: right;
				font-size: 30px;
				transform: translateX(calc(-100% - 100px));
				&::after {
					content:"";
					display: block;
					height: 1px;
					width: 90px;
					background: $primary-color;
					position: absolute;
					top: 50%;
					left: calc(100% + 10px);
					transform: translateY(-50%);
				}
				@media screen and (max-width: 1700px) {
					display: none;
				}
			}
		}
		div:not(.programmation--emission-no-event):not(.programmation--emission-event-today) {
			.date {
				// line-height: 50px;
				font-weight: bold;
				background: #fdf5fa;
				margin-bottom: 20px;
				padding-left: 20px;
			}
		}
		div.programmation--emission-event-today .date {
			margin: 0 0 20px 20px;
			font-weight: bold;
		}
	}

	article.event {
		display: flex;
		cursor: default;
		transition: .225s ease-in-out;
		padding: 10px 0;
		align-content: stretch;
		margin-bottom: 10px;
		&.now {
			background-color: rgba(white,0.5);
		}
		&:hover {
			.text-colonne .caster-colonne {
				top: 90%;
				opacity: 1;
			}
			.logo-colonne {
				.logo img {
					transform: scale(1.1);
				}
				a {
					left: -50px;
					opacity: 1;
					pointer-events:auto;
				}
			}
		}
		&.after {
			.text-colonne {
				p,h2 {
					opacity: .5;
				}
			}
			.button-colonne {
				display: none;
			}
		}
		.logo-colonne {
			width: 100px;
			position: relative;
			left: -50px;
			display: flex;
			align-items: center;
			a {
				position: absolute;
				left: 0px;
				width: 50px;
				height: 50px;
				padding: 10px 50px 10px 0px;
				opacity: 0;
				pointer-events: none;
				transform: rotate(0deg);
				transition: .5s ease-in-out;
				-webkit-backface-visibility: hidden;
				&:hover {
					transform: rotate(360deg);
				}
				&::before,
				&::after {
					content:"";
					background: $primary-color;
					position: absolute;
				}
				&::before {
					width: 30px;
					height: 3px;
					top: 50%;
					transform: translateY(-50%);
					left: 10px;
				}
				&::after {
						width: 3px;
						height: 30px;
						left: 50%;
						transform: translateX(-50%);
						top: 10px;
				}
				i {
					display: none;
				}
			}
			.logo {
				width: 100px;
				height: 100px;
				border-radius: 20px;
				overflow: hidden;
				background: white;
				border: 2px solid $primary-color;
				display: flex;
				align-items: center;
				img {
					transition: .4s ease-in-out;
					transform: scale(1);
					-webkit-backface-visibility: hidden;
				}
			}
		}
		.text-colonne {
			display: flex;
			flex-direction: column;
			position: relative;
			justify-content: center;
			width: 100%;
			p,h2 {
				margin: 0;
			}
			p.horaire {
				font-size: 30px;
				font-weight: bold;
				line-height: 40px;
			}
			h2 {
				font-size: 20px;
			}
			.caster-colonne {
				position: absolute;
				top: 50px;
				z-index: 10;
				display: flex;
				opacity: 0;
				transition: 0.225s ease-in-out;
				pointer-events: none;
				z-index: 999;
				.img-colonne {
					position: relative;
					&:not(:last-child) {
						margin-right: 20px;
					}
					.caster-wrapper {
						max-height: 50px;
						max-width: 50px;
						border-radius: 50%;
						overflow: hidden;
						position: relative;
						img {
							position: relative;
							z-index: 1;
						}
					}
					&::after {
						content:"";
						height: 50px;
						width: 50px;
						border-radius: 50%;
						background-color: rgba($primary-color,1);
						position: absolute;
						top: 3px;
						left: 0px;
						z-index: 0;
					}
				}
			}
		}
		.button-colonne {
			max-width: 200px;
			min-width: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:not(.live) {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100px;
					height: 100px;
					background: white;
					border-radius: 50%;
					-webkit-backface-visibility: hidden;
					position: relative;
					&:after {
						content:"Ajouter à mon google agenda";
						font-size: 9px;
						text-transform: uppercase;
						text-align: center;
						display: block;
						position: absolute;
						width: 100%;
						bottom: 0;
							transition: 0.2s ease-in-out;
							opacity: 0;
							transform: scale(0.7);
					}
					i {
						position: relative;
						font-size: 35px;
						bottom: 0px;
						transition: 0.2s ease-in-out;
						-webkit-backface-visibility: hidden;
						&:after {
							content:"+";
							position: absolute;
							font-weight: bold;
							transform: scale(0.5);
							top: -15px; right: -15px;
						}
					}
					&:hover {
						&:after {
							bottom: 20px;
							opacity: 1;
							transform: scale(1);
						}
						i {
							bottom: 20px;
						}
					}
				}
			}
			&.live {
				flex-direction: column;
				> * {
					margin-bottom: 10px !important;
				}
				a.button.btn-YouTube {
					margin-bottom: 0px !important;
				}
				.live-now {
					background: white;
					color: red;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					padding: 10px 20px 10px 40px;
					position: relative;
					border-radius: 20px;
					overflow: hidden;
					&::before {
						width: 10px;
						height: 10px;
						content:"";
						background: red;
						display: block;
						border-radius: 50%;
						position: absolute;
						left: 20px;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
					}
					&::after {
						width: 14px;
						height: 14px;
						content:"";
						border: solid 1px red;
						display: block;
						border-radius: 50%;
						position: absolute;
						left: 18px;
						top: 50%;
						transform: translateY(-50%) scale(5);
						z-index: 0;
						animation: live 2s infinite;
					}
				}
				a {
					height: 100px;
					width: 150px;
					padding: 0;
					overflow: hidden;
					border-radius: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						max-height: 50px;
						transform: scale(2);
					}
					&.btn-Twitch {
						background-color: $twitch;
					}
					&.btn-YouTube {
						background-color: $white;
					}
					&:hover img {
						animation: bounceScale 1s infinite;
					}
				}
			}
		}
		&.ocanada {
			.logo-colonne .logo {
				border-color: $ocanada;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($ocanada, 1);
			}
			.button-colonne.no-live a {
				color: $ocanada;
			}
		}
		&.onu {
			.logo-colonne .logo {
				border-color: $onu;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($onu, 1);
			}
			.button-colonne.no-live a {
				color: $onu;
			}
		}
		&.directan {
			.logo-colonne .logo {
				border-color: $directan;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($directan, 1);
			}
			.button-colonne.no-live a {
				color: $directan;
			}
		}
		&.leurope {
			.logo-colonne .logo {
				border-color: $leurope;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($leurope, 1);
			}
			.button-colonne.no-live a {
				color: $leurope;
			}
		}
		&.qag {
			.logo-colonne .logo {
				border-color: $qag;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($qag, 1);
			}
			.button-colonne.no-live a {
				color: $qag;
			}
		}
		&.libreantenne {
			.logo-colonne .logo {
				border-color: $libreantenne;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($libreantenne, 1);
			}
			.button-colonne.no-live a {
				color: $libreantenne;
			}
		}
		&.divers {
			.logo-colonne .logo {
				border-color: $divers;
			}
			.text-colonne .caster-colonne .img-colonne::after {
				background-color: rgba($divers, 1);
			}
			.button-colonne.no-live a {
				color: $divers;
			}
		}
		@media screen and (max-width: $breakpointMobile) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
