.entry-title {
	color:$primary-color;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px $primary-color solid;
	padding-bottom:20px;
	margin-bottom:20px;
}

.cons-title {
	opacity:0.5;
	text-align: center;
	position: relative;
	margin-bottom:20px;
}
